/* Reset */
body, h1, h2, h3,h4, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: Arial, sans-serif;
    background: url("images1/bats.gif") repeat;
    }
    /* Container */
    .container {
    width: 850px;
    margin: 0 auto;
    background: #fff;
    /* Soft shadow on all four sides */
    box-shadow: 0px 5px 10px 15px rgb(0, 0, 0);
    min-height: 500px;
    height:auto;
    }
    /* Header */
    header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #f0ecec, #ffa500, #000000);
    border-top: 2px solid black;
    color: black;
    padding: 15px;
    }
    header .logo {
    width: 65px;
    height: 65px;
    margin-right: 10px;
    }
    header h1 {
    font-size: 40px;
    }
    header p {
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
    }
    /* Top navigation */
    .top-nav ul {
    list-style: none;
    display: flex;
    background: #000;
    }
    .top-nav li {
    flex: 1;
    text-align: center;
    }
    .top-nav a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    }
    .top-nav li:hover {
    background: gray;
    }
    .top-nav .active a {
    background: black;
    color: orange;
    }
    /* Main layout */
    main {
    display: flex;
    padding: 20px;
    }
    .dropdown{
    position: relative;
    }
    ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 170px;
    z-index:10 ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
    }
    .submenu li{
    width: 100%;
    }
    .dropdown:hover .submenu {
    display: block;
    }
    .submenu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    }
    .submenu li a:hover {
    background: gray;
    }
    /* Sidebar */
    .side-menu {
    width: 130px;
    margin-right: 20px;
    margin-top: 15px;
    }
    .side-menu ul {
    list-style: none;
    padding: 5px;
    }
    .side-menu a {
    display: block;
    padding: 10px;
    padding-bottom:5px;
    margin-bottom: 4px;
    background: orange;
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-align: left;
    text-decoration: none;
    border: 3px solid black;
    }
    .side-menu a:hover {
    color: green;
    }
    /* Content */
    .content {
    flex: 1;
    margin-right: 30px;
    margin-top:10px;
    }
    .dropcap {
    font-size: 50px;
    font-weight: bold;
    }
    .content h2 {
    margin-bottom: 15px;
    font-size:xx-large;
    }
    .content p {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 20px;
    font-size:medium;
    font-weight: 570;
    }
    .content h3 {
    margin-top: 10px;
    font-size:120%;
    font-weight: bold;
    }
    .content h4{
    font-size: 120%;
    }
    .content img {
    display: block;
    max-width: 250px;
    padding: 0;
    margin: 0;
    }
    .special-link {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom:10px;
    }
    .special-link:hover {
    color: green;
    }
    /* Footer */
    footer {
    background: linear-gradient(to right, black, orange,white);
    color:black;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    border-top: 2px solid black;
    }